{{> navbar}}
<div class="container">
  <ul class="nav nav-tabs nav-justified mt-4">
    <li role="presentation" class="active"><a href="#">添加用户</a></li>
    <li role="presentation"><a href="#">搜索用户</a></li>
  </ul>
  <form  action="user" method="POST" class="form-inline mt-4">
    <div class="form-group">
      <label for="username">用户名</label>
      <input name="username" type="text" class="form-control" required id="username">
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="text" name="password" class="form-control" required id="password">
    </div>
    <div class="form-group">
      <label for="role">用户角色</label>
      <select name="role" id="role" class="form-control">
        <option value="1">买手</option>
        <option value="10">金主</option>
        <option value="100">管理员</option>
      </select>
    </div>
    <div class="form-group">
      <label for="contact">微信号</label>
      <input name="contact" type="text" class="form-control" required id="contact">
    </div>
    <div class="form-group">
      <label for="comment">备注</label>
      <input name="comment" type="text" class="form-control" required id="comment">
    </div>
    <button type="submit" class="btn btn-success">添加新用户</button>
  </form>
  <table class="table table-hover mt-4">
    <tr>
      <th>登录用户名</th>
      <th>用户角色</th>
      <th>微信号</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
      {{#each users}}
      <tr class="{{className}}">
        <td>{{username}}</td>
        <td>{{roleName}}</td>
        <td>{{contact}}</td>
        <td>{{comment}}</td>
        <td>
          <a href="#" class="user_edit_link" c-data="{{user_json_string}}" c-target="#user_edit_form">编辑</a>
          <a tabindex="0" role="button" c-url="/user/delete/{{id}}" c-data="{{user_json_string}}" c-for="delete" data-trigger="focus"  data-toggle="popover"  data-placement="bottom" title="请确认">删除</a>
          <a tabindex="0" role="button" class="_user_reset_pass_link" c-id="{{id}}" c-user="{{username}}" c-for="resetpass" data-toggle="popover"  data-placement="top">重置密码</a>
        </td>
      </tr>
      {{/each}}
  </table>
</div>
<div class="facebox" id="user_edit_form" style="display: none">
  <div class="facebox-popup">
    <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description">
      <h2 class="facebox-header pb-0 border-bottom-0 mb-1" data-facebox-id="facebox-header" tabindex="-1" id="facebox-header">
        修改用户信息
      </h2>
      <form  action="user/edit" method="POST" class="form-horizontal mt-4">
        <input type="hidden" name="id" value="0">
        <div class="form-group">
          <label for="username" class="col-sm-2">用户名</label>
          <div class="col-sm-10">
            <input name="username" type="text" class="form-control" id="username" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="role" class="col-sm-2">用户角色</label>
          <div class="col-sm-10">
            <select name="role" id="role" class="form-control">
              <option value="1">买手</option>
              <option value="10">金主</option>
              <option value="100">管理员</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="contact" class="col-sm-2">微信号</label>
          <div class="col-sm-10">
            <input type="text" name="contact" class="form-control" id="contact">
          </div>
        </div>
        <div class="form-group">
          <label for="comment" class="col-sm-2">备注</label>
          <div class="col-sm-10">
            <input type="text" name="comment" class="form-control" id="comment">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">确认修改</button>
            <button id="user_edit_form_cancel" c-target="#user_edit_form" type="button" class="btn btn-default">取消</button>
          </div>
        </div>
      </form>
    </div> <!-- facebox-content -->
  </div> <!-- facebox-popup -->
</div> <!-- facebox -->
